---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Golf Cart Rentals - Masters Golf Cars" description="Golf cart rental services in The Villages and Ocala">
	<section class="py-20 bg-white">
		<div class="container mx-auto px-4">
			<meta http-equiv="refresh" content="0; url=/rentals" />
			<div class="text-center">
				<p class="text-lg text-gray-600">Redirecting to rentals page...</p>
				<a href="/rentals" class="text-green-600 hover:underline font-semibold">Click here if you are not redirected</a>
			</div>
		</div>
	</section>
</Layout>

