---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home - Masters Golf Cars" description="Masters Golf Cars - Your #1 Source For Golf Carts in Central Florida">
	<section class="py-20 bg-white">
		<div class="container mx-auto px-4">
			<meta http-equiv="refresh" content="0; url=/" />
			<div class="text-center">
				<p class="text-lg text-gray-600">Redirecting to homepage...</p>
				<a href="/" class=" hover:underline font-semibold">Click here if you are not redirected</a>
			</div>
		</div>
	</section>
</Layout>

